doctype html

block vars
include ../components/_mixins

html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(property="og:title" content="НАВЫКИ СОВРЕМЕННОГО ЮРИСТА: SOFT SKILLS, ПОВЫШАЮЩИЕ ЭФФЕКТИВНОСТЬ И КАЧЕСТВО ЖИЗНИ")
		meta(property="og:description" content="Что такое soft skills юриста? Под этим англицизмом мы понимаем личные качества и навыки юриста, повышающие его профессиональную эффективность и качество жизни в целом.")
		meta(property="og:site_name" content="SOFTSKILLSLAWACADEMY.COM")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://softskillslawacademy.com/event3/")
		meta(property="og:image" content="http://softskillslawacademy.com/event3/images/prev.jpg")
		link(rel="image_src" href="http://softskillslawacademy.com/event3/images/prev.jpg")

		meta(name="twitter:card" content="summary_large_image")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="minimum-scale=1.0, target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="HandheldFriendly" content="true")
		meta(name="MobileOptimized" content="320")
		meta(name="title" content="Навыки современного юриста: Soft Skills, повышающие эффективность и качество жизни")
		title Soft Skills Law Academy
		link(href="css/main.css" rel="stylesheet")

		//title= `${page.title}`

	body
		#wrapper
			block header
				include ../partials/_header

			block main

			block footer
				include ../partials/_footer

			block modals


			script(src="js/main.js")

			block scripts
